/* ChatMessages */

@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {

  font-family: "Montserrat", sans-serif;

}

.users_header {
  text-align: center;
  padding:26.5px;
 
}

.users_header h6 {
  font-weight: 600;
  font-size:22px;
  cursor: pointer;
}
.base-container {
  max-width: 100%;
  max-height: 600px;
  color:black;
  position: relative;
}
.friend-text-div {
  display: flex;
  margin-left: 0.5rem;
 
}
.messages_div {
  overflow-y: auto;
  max-height: 420px;
}

.friend-text-container {
  width: 10rem;
  display: flex;
  flex-direction: column;
}

.friend-text {
  background-color:white;
  border-radius: 0.5rem;
  border-radius:100px;
  border:3px solid whitesmoke;
  height: fit-content;
  width: fit-content;
  padding:20px;
  margin:10px;
}

.my-text-div {
  display: flex;
  justify-content: flex-end;

}
.my-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.my-text {
  background: whitesmoke;
  padding:20px;
  margin:10px;
  border-radius:100px;
  border: 1px solid lightgrey;
  background-attachment: fixed;
  height: fit-content;
  width: fit-content;

}

.blank_div {
  margin:180px auto;
  padding:3%;
  text-align: center;
}
.blank_image {
  height: 140px;
  width: 140px;
  padding-right:30px;
  padding-top:10px;
  border-radius: 50%;
}
.dot {
  height: 130px;
  width: 130px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 15px;

  display: inline-block;
}
