.modal_image {
    height:500px;
    width:650px;
    border: 1px solid lightgrey;
}
.show-grid {
    margin:0px;
    padding:0px;
   
}
.modal_image_div {
    margin: 0px;
    padding:0px;

}
.modal {
    width:1000px;
    margin:auto;
    margin-top: 120px;
}
.modal-dialog {
    max-width:1000px;
    margin: 1.75rem auto;
}
.comment-date {
    display:block;
    font-size:12px;
    color:lightgrey;
    margin-top: 8px;

}
.modal_post_user {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin:10px 0px
}
.modal_post_user_header {
    font-weight: 600;
    margin:5px 8px;
}
.modal_post_content {
    margin:2px 3px;
}
.like_p {
    font-weight: 600;
    margin-top: 10px;
}